<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">Koncrate</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light mr-3" routerLink="/" mdbWavesEffect
          >Acceuil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light mr-3"
          routerLink="/services"
          mdbWavesEffect
          >Services</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light mr-3" routerLink="/blog" mdbWavesEffect
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light mr-3" routerLink="/about" mdbWavesEffect
          >About</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect
          >Contact</a
        >
      </li>

      <!-- Dropdown -->
    </ul>
    <!-- Links -->

    <!-- Search form -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
